##### import the Diamond dataset

In [1]:
import pandas as pd
import numpy as np
# Load the Diamonds dataset from CSV file
diamonds_df = pd.read_csv('diamonds.csv')

# Display the first few rows of the DataFrame
df.head()

NameError: name 'df' is not defined

###### 1. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [ ]:
# Get the number of rows and columns
num_rows, num_columns = diamonds_df.shape

# Get data types of each column
data_types = diamonds_df.dtypes

# Display the results
print("Number of Rows:", num_rows)
print("Number of Columns:", num_columns)
print("\nData Types of Each Column:")
print(data_types)

##### 2. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.

In [ ]:
# Summarize only 'object' columns
object_columns_summary = diamonds_df.describe(include='object')

# Display the summary
print(object_columns_summary)

###### 3. Write a Pandas program to remove the second column of the diamonds Dataframe. (don't use original dataset)

In [2]:
# Remove the second column ('carat')
diamonds_df = diamonds_df.drop(diamonds_df.columns[1], axis=1)

# Display the updated DataFrame
diamonds_df

,Unnamed: 0,cut,color,clarity,depth,table,price,x,y,z
0,1,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,53936,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

###### 4. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe. (dont use original dataset)

In [3]:
# Remove multiple rows (e.g., indices 1 and 3)
rows_to_remove = [1, 3]
diamonds_df_filtered = diamonds_df.drop(rows_to_remove, axis=0)

# Display the updated DataFrame
diamonds_df_filtered

,Unnamed: 0,cut,color,clarity,depth,table,price,x,y,z
0,1,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
2,3,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
4,5,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
...,...,...,...,...,...,...,...,...,...,...
53935,53936,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

###### 5. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

In [4]:
# Sort the 'cut' Series in ascending order
sorted_cut_series = diamonds_df['cut'].sort_values()

# Display the sorted Series
sorted_cut_series

3850          Fair
51464         Fair
51466         Fair
10237         Fair
10760         Fair
           ...
7402     Very Good
43101    Very Good
16893    Very Good
16898    Very Good
21164    Very Good
Name: cut, Length: 53940, dtype: object

###### 6. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

In [5]:
diamonds_df = pd.read_csv('diamonds.csv')

# Sort the entire DataFrame by 'carat' in ascending order
sorted_diamonds_asc = diamonds_df.sort_values(by='carat', ascending=True)

# Sort the entire DataFrame by 'carat' in descending order
sorted_diamonds_desc = diamonds_df.sort_values(by='carat', ascending=False)

# Display the sorted DataFrames
print("Sorted by 'carat' in Ascending Order:")
print(sorted_diamonds_asc)

print("\nSorted by 'carat' in Descending Order:")
print(sorted_diamonds_desc)

Sorted by 'carat' in Ascending Order:
       Unnamed: 0  carat      cut color clarity  depth  table  price      x  \
31593       31594   0.20  Premium     E     VS2   61.1   59.0    367   3.81
31597       31598   0.20    Ideal     D     VS2   61.5   57.0    367   3.81
31596       31597   0.20  Premium     F     VS2   62.6   59.0    367   3.73
31595       31596   0.20    Ideal     E     VS2   59.7   55.0    367   3.86
31594       31595   0.20  Premium     E     VS2   59.7   62.0    367   3.84
...           ...    ...      ...   ...     ...    ...    ...    ...    ...
25999       26000   4.01  Premium     J      I1   62.5   62.0  15223  10.02
25998       25999   4.01  Premium     I      I1   61.0   61.0  15223  10.14
27130       27131   4.13     Fair     H      I1   64.8   61.0  17329  10.00
27630       27631   4.50     Fair     J      I1   65.8   58.0  18531  10.23
27415       27416   5.01     Fair     J      I1   65.5   59.0  18018  10.74

           y     z
31593   3.78  2.32
31597   3.77  2.33
31596   3.71  2.33
31595   3.84  2.30
31594   3.80  2.28
...      ...   ...
25999   9.94  6.24
25998  10.10  6.17
27130   9.85  6.43
27630  10.16  6.72
27415  10.54  6.98

[53940 rows x 11 columns]

Sorted by 'carat' in Descending Order:
       Unnamed: 0  carat      cut color clarity  depth  table  price      x  \
27415       27416   5.01     Fair     J      I1   65.5   59.0  18018  10.74
27630       27631   4.50     Fair     J      I1   65.8   58.0  18531  10.23
27130       27131   4.13     Fair     H      I1   64.8   61.0  17329  10.00
25999       26000   4.01  Premium     J      I1   62.5   62.0  15223  10.02
25998       25999   4.01  Premium     I      I1   61.0   61.0  15223  10.14
...           ...    ...      ...   ...     ...    ...    ...    ...    ...
31592       31593   0.20  Premium     E     VS2   59.0   60.0    367   3.81
31591       31592   0.20  Premium     E     VS2   59.8   62.0    367   3.79
31601       31602   0.20  Premium     D     VS2   61.7   60.0    367   3.77
14             15   0.20  Premium     E     SI2   60.2   62.0    345   3.79
31596       31597   0.20  Premium     F     VS2   62.6   59.0    367   3.73

           y     z
27415  10.54  6.98
27630  10.16  6.72
27130   9.85  6.43
25999   9.94  6.24
25998  10.10  6.17
...      ...   ...
31592   3.78  2.24
31591   3.77  2.26
31601   3.72  2.31
14      3.75  2.27
31596   3.71  2.33

[53940 rows x 11 columns]

###### 7. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [6]:
# Filter rows with carat weight at least 0.3
filtered_diamonds_df = diamonds_df[diamonds_df['carat'] >= 0.3]

# Display the filtered DataFrame
filtered_diamonds_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
15,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

###### 8.  Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

In [7]:
# Filter rows based on conditions
filtered_diamonds_df = diamonds_df[(diamonds_df['x'] > 5) & (diamonds_df['y'] > 5) & (diamonds_df['z'] > 5)]

# Display the details of filtered diamonds
filtered_diamonds_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11778,11779,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12
13002,13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36
13118,13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23
13562,13563,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04
13757,13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36
...,...,...,...,...,...,...,...,...,...,...,...
27748,27749,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04
27749,27750,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16
48410,48411,0.51,Very Good,E,VS1,61.8,54.7,1970,5.12,5.15,31.80
49189,49190,0.51,Ideal,E,VS1,61.8,55.0,2075,5.15,31.80,5.12
49905,49906,0.50,Very Good,G,VVS1,63.7,58.0,2180,5.01,5.04,5.06

###### 9. Write a Pandas program to calculate the mean of each row of diamonds DataFrame.

In [8]:
# Exclude non-numeric columns
numeric_columns = diamonds_df.select_dtypes(include=['float64', 'int64'])

# Calculate the mean of each row
row_means = numeric_columns.mean(axis=1)

# Display the mean values
print(row_means)

0          56.76125
1          57.38125
2          57.82000
3          58.71875
4          59.13125
            ...
53935    7103.31625
53936    7103.48375
53937    7104.17500
53938    7103.98375
53939    7103.78625
Length: 53940, dtype: float64

###### 10. Write a Pandas program to calculate the mean of price for each cut  and find maximum top 3 of diamonds DataFrame.

In [9]:
# Group by 'cut' and calculate the mean of 'price' for each group
cut_price_mean = diamonds_df.groupby('cut')['price'].mean()

# Find the top 3 maximum values
top_3_max = cut_price_mean.nlargest(3)

# Display the mean price for each cut and the top 3 maximum values
print("Mean price for each cut:")
print(cut_price_mean)

print("\nTop 3 maximum values:")
print(top_3_max)

Mean price for each cut:
cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

Top 3 maximum values:
cut
Premium      4584.257704
Fair         4358.757764
Very Good    3981.759891
Name: price, dtype: float64

##### 11. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

In [10]:
# Group by 'cut' and calculate count, minimum, and maximum price for each group
cut_statistics = diamonds_df.groupby('cut')['price'].agg(['count', 'min', 'max'])

# Display the count, minimum, and maximum price for each cut
print("Count, Minimum, and Maximum price for each cut:")
print(cut_statistics)

Count, Minimum, and Maximum price for each cut:
           count  min    max
cut
Fair        1610  337  18574
Good        4906  327  18788
Ideal      21551  326  18806
Premium    13791  326  18823
Very Good  12082  336  18818

###### 12. Write a Pandas program to display and count the unique values in cut series of diamonds DataFrame.

In [11]:
# Display and count unique values in the 'cut' series
cut_counts = diamonds_df['cut'].value_counts()

# Display the unique values and their counts
print("Unique values and their counts in the 'cut' series:")
print(cut_counts)

Unique values and their counts in the 'cut' series:
cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

######13.  Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [12]:
# Count the number of missing values in each Series
missing_values_count = diamonds_df.isnull().sum()

# Display the count of missing values
print("Number of missing values in each Series:")
print(missing_values_count)

Number of missing values in each Series:
Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

###### 14. Write a Pandas program to calculate the multiply of x, y and z for each cut of diamonds DataFrame.

In [13]:
# Calculate the multiply of x, y, and z for each cut
diamonds_df['multiply_xyz'] = diamonds_df['x'] * diamonds_df['y'] * diamonds_df['z']

# Display the DataFrame with the new 'multiply_xyz' column
print("DataFrame with the multiply_xyz column:")
print(diamonds_df)

DataFrame with the multiply_xyz column:
       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z  multiply_xyz
0      3.98  2.43     38.202030
1      3.84  2.31     34.505856
2      4.07  2.31     38.076885
3      4.23  2.63     46.724580
4      4.35  2.75     51.917250
...     ...   ...           ...
53935  5.76  3.50    115.920000
53936  5.75  3.61    118.110175
53937  5.68  3.56    114.449728
53938  6.12  3.74    140.766120
53939  5.87  3.64    124.568444

[53940 rows x 12 columns]

##### 15. Write a Pandas program to read rows 0 through 2 (inclusive), columns â€˜colorâ€™ and â€˜priceâ€™ of diamonds DataFrame.

In [14]:
# Read specified rows and columns
subset_df = diamonds_df.loc[0:2, ['color', 'price']]

# Display the subset DataFrame
print("Subset DataFrame:")
print(subset_df)

Subset DataFrame:
  color  price
0     E    326
1     E    326
2     E    327

###### 16. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds DataFrame.

In [15]:
# Read specified rows and columns using iloc
subset_df = diamonds_df.iloc[[0, 1], [0, 3]]

# Display the subset DataFrame
print("Subset DataFrame:")
print(subset_df)

Subset DataFrame:
   Unnamed: 0 color
0           1     E
1           2     E

##### 17. Write a Pandas program to get randomly sample rows from diamonds DataFrame.

In [16]:
# Get a random sample of rows
random_sample = diamonds_df.sample(frac=1)

# Display the random sample DataFrame
print("Randomly sampled DataFrame:")
print(random_sample)

Randomly sampled DataFrame:
       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
37505       37506   0.46       Fair     F     SI1   66.3   56.0    984  4.86
1053         1054   0.25    Premium     F     VS1   61.2   59.0    558  4.05
53842       53843   0.71      Ideal     H    VVS1   62.0   57.0   2739  5.71
2158         2159   0.75      Ideal     E     SI2   62.6   55.0   3129  5.72
24670       24671   1.20  Very Good     E    VVS1   61.3   60.0  13015  6.77
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
23236       23237   1.31      Ideal     G    VVS1   61.1   57.0  11247  7.06
31985       31986   0.30    Premium     F     VS2   61.4   60.0    776  4.30
3623         3624   0.73      Ideal     E     VS2   61.6   56.0   3429  5.80
22432       22433   1.71    Premium     H     VS1   62.1   59.0  10457  7.63
41518       41519   0.55  Very Good     I     VS2   58.5   62.2   1235  5.39

          y     z  multiply_xyz
37505  4.79  3.20     74.494080
1053   4.02  2.47     40.214070
53842  5.75  3.55    116.555375
2158   5.79  3.60    119.227680
24670  6.84  4.17    193.099356
...     ...   ...           ...
23236  7.01  4.30    212.809580
31985  4.27  2.63     48.289430
3623   5.82  3.58    120.846480
22432  7.55  4.71    271.326615
41518  5.40  3.16     91.974960

[53940 rows x 12 columns]

###### 18. Write a Pandas program to get sample 75% of the diamonds DataFrame's rows without replacement and store the remaining 25% of the rows in another DataFrame.

In [17]:
# Get a sample of 75% without replacement
sampled_df = diamonds_df.sample(frac=0.75, random_state=1)

# Get the remaining 25%
remaining_df = diamonds_df.drop(sampled_df.index)

# Display the sampled and remaining DataFrames
print("Sampled DataFrame (75%):")
print(sampled_df)
print("\nRemaining DataFrame (25%):")
print(remaining_df)

Sampled DataFrame (75%):
       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
2714         2715   0.33      Ideal     H     SI1   61.7   55.0    564  4.43
14653       14654   1.20      Ideal     I     VS2   62.1   57.0   5914  6.78
52760       52761   0.62      Ideal     D     VS1   61.0   57.0   2562  5.51
48658       48659   0.34       Good     H     VS2   63.1   56.0    537  4.41
14812       14813   1.20      Ideal     E     SI2   62.5   55.0   5964  6.77
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
27598       27599   2.50    Premium     I     SI2   59.0   60.0  18447  8.76
39036       39037   0.37      Ideal     G      IF   61.4   55.0   1056  4.63
21461       21462   1.55  Very Good     E     SI2   59.5   56.0   9557  7.56
11572       11573   1.02    Premium     F     SI1   59.2   58.0   5038  6.53
29372       29373   0.31    Premium     E     SI1   59.3   59.0    698  4.48

          y     z  multiply_xyz
2714   4.46  2.74     54.136372
14653  6.71  4.19    190.619022
52760  5.54  3.37    102.870598
48658  4.46  2.80     55.072080
14812  6.84  4.25    196.803900
...     ...   ...           ...
27598  8.89  5.21    405.736044
39036  4.66  2.85     61.491030
21461  7.59  4.51    258.785604
11572  6.50  3.86    163.837700
29372  4.42  2.64     52.276224

[40455 rows x 12 columns]

Remaining DataFrame (25%):
       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
9              10   0.23  Very Good     H     VS1   59.4   61.0    338  4.00
14             15   0.20    Premium     E     SI2   60.2   62.0    345  3.79
15             16   0.32    Premium     E      I1   60.9   58.0    345  4.38
18             19   0.30       Good     J     SI1   63.8   56.0    351  4.23
20             21   0.30       Good     I     SI2   63.3   56.0    351  4.26
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53926       53927   0.71      Ideal     E     SI1   61.9   56.0   2756  5.71
53928       53929   0.79    Premium     E     SI2   61.4   58.0   2756  6.03
53929       53930   0.71      Ideal     G     VS1   61.4   56.0   2756  5.76
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z  multiply_xyz
9      4.05  2.39     38.718000
14     3.75  2.27     32.262375
15     4.42  2.68     51.883728
18     4.26  2.71     48.833658
20     4.30  2.71     49.641780
...     ...   ...           ...
53926  5.73  3.54    115.822782
53928  5.96  3.68    132.254784
53929  5.73  3.53    116.506944
53938  6.12  3.74    140.766120
53939  5.87  3.64    124.568444

[13485 rows x 12 columns]

###### 19. Write a Pandas program to read the diamonds DataFrame and detect duplicate color.

In [18]:
# Detect duplicate values in the 'color' column
duplicate_colors = diamonds_df['color'].duplicated()

# Display the rows with duplicate colors
print("Rows with duplicate color:")
print(diamonds_df[duplicate_colors])

Rows with duplicate color:
       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
5               6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94
6               7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95
8               9   0.22       Fair     E     VS2   65.1   61.0    337  3.87
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z  multiply_xyz
1      3.84  2.31     34.505856
2      4.07  2.31     38.076885
5      3.96  2.48     38.693952
6      3.98  2.47     38.830870
8      3.78  2.49     36.425214
...     ...   ...           ...
53935  5.76  3.50    115.920000
53936  5.75  3.61    118.110175
53937  5.68  3.56    114.449728
53938  6.12  3.74    140.766120
53939  5.87  3.64    124.568444

[53933 rows x 12 columns]

###### 20. Write a Pandas program to count the duplicate rows of diamonds DataFrame.

In [19]:
# Count the duplicate rows
duplicate_rows_count = diamonds_df.duplicated().sum()

# Display the count of duplicate rows
print("Number of duplicate rows:", duplicate_rows_count)

Number of duplicate rows: 0